<div class="p-3 mb-2 bg-secondary text-white">
<h1>Add Plugin</h1>
<form (ngSubmit)="onSubmit()" #plugins="ngForm">
  <div class="form-group col-md-2">
    <label for="root">Root</label>
    <input type="text" class="form-control" [(ngModel)]="plugin.root" id="root" name="root" placeholder="Root">
  </div>
<div class="form-group col-md-2">
  <label for="organization">Organization</label>
  <input type="text" class="form-control" [(ngModel)]="plugin.organisation" id="organisation"  name="organisation" placeholder="Organization">
</div>
<div class="form-row col-md-6">
  <div class="form-group col-md-4">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)]="plugin.title" id="title"  name="title" placeholder="Plugin name">
  </div>
  <div class="form-group col-md-4">
    <label for="otherPrefix">Other Prefix</label>
    <input type="text" class="form-control" [(ngModel)]="plugin.others_prefix" id="others_prefix"  name="others_prefix" placeholder="Other Prefix">
  </div>
</div>
  <div class="form-group col-md-2">
    <label for="Version">Version</label>
    <input type="text" class="form-control" [(ngModel)]="plugin.version" id="version" name="version">
  </div>
  <div class="form-group col-md-2">
    <button type="submit" class="btn btn-primary">Validate</button>
  </div>
</form>
</div>

