<div class="p-3 mb-2 bg-secondary text-white">
  <h1>Delete Artifact</h1>
  <form (ngSubmit)="onSubmit()" #artifacts="ngForm">
    <div class="form-group col-md-2">
      <label for="id_Artifact">Id</label>
      <input type="text" [(ngModel)]="artifact.id_Artifact" class="form-control" id="id_Artifact" name="id_Artifact" placeholder="Enter your id artifact" required #id_Artifact="ngModel">
    </div>
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary col-md-6">Submit</button>
    </div>
</form>
</div>