<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="plugins">Plugins<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="artifacts">Artifacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="artifacts/mapping">Mapping</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()" #f="ngForm">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/search/plugins">Search Plugin</button>
      <div class="col-md-1"></div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/search/artifacts">Search Artifact</button>
    </form>
  </div>
</nav>

