<div  class="jumbotron jumbotron-fluid row marginRow">
  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-7 text-center">
        <h1 class="display-4">Mavenisation</h1>
        <p class="lead">Produit par les meilleurs ALMA de cette année !</p>
      </div>
      <div class="col-md-5 text-right">
        <img src="assets/img/Univ.png" alt="image" width=200/>
      </div>  
    </div>
  </div>  
</div>