<div class="p-3 mb-2 text-dark col-md-12">
  <h1>Search Plugin</h1> 
  <div><p> </p></div> 
  <div class="row marginRow" >
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="plugin.id_Plugin" name="id_Plugin" type="text" id="id_Plugin" placeholder="Id" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit2()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="plugin.root" name="root" type="text" id="root" placeholder="root" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit3()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="plugin.organisation" name="organisation" type="text" id="organisation" placeholder="organization" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit4()" #f="ngForm">
        <input class="form-control mr-sm-2 " [(ngModel)]="plugin.title" name="title" type="text" id="title" placeholder="title" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
  <div class="row" >
  <form class=" offset-md-3 form-inline col-md-3" (ngSubmit)="onSubmit5()" #f="ngForm">
    <input class="form-control mr-sm-2 " [(ngModel)]="plugin.others_prefix" name="others_prefix" type="text" id="others_prefix" placeholder="others_prefix" ngModel>
    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
  </form>
  <form class="form-inline col-md-3" (ngSubmit)="onSubmit6()" #f="ngForm">
    <input class="form-control mr-sm-2 " [(ngModel)]="plugin.version" name="version" type="text" id="version" placeholder="version" ngModel>
    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
  </form>
</div>

  <div class="container col-md-12">
    <div class="card my-5" id="table">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">root</th>
              <th scope="col">organization</th>
              <th scope="col">title</th>
              <th scope="col">others prefix</th>
              <th scope="col">version</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of listPlugins">
              <td>{{ list.id_Plugin }}</td>
              <td>{{ list.root }}</td>
              <td>{{ list.organisation }} </td>
              <td>{{ list.title }}</td>
              <td>{{ list.others_prefix }}</td>
              <td>{{ list.version }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>