<div class="p-3 mb-2 text-dark col-md-12">
  <h1>Search Artifact</h1> 
  <div><p> </p></div> 
  <div class="row " >
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="artifact.id_Artifact" name="id_Artifact" type="text" id="id_Artifact" placeholder="Id" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit2()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="artifact.groupId" name="groupId" type="text" id="groupId" placeholder="groupId" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit3()" #f="ngForm">
        <input class="form-control mr-sm-2" [(ngModel)]="artifact.title" name="title" type="text" id="title" placeholder="title" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline col-md-3" (ngSubmit)="onSubmit4()" #f="ngForm">
        <input class="form-control mr-sm-2 " [(ngModel)]="artifact.version" name="version" type="text" id="version" placeholder="version" ngModel>
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
  
  <div class="container col-md-12">
    <div class="card my-5" id="table">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">groupId</th>
              <th scope="col">title</th>
              <th scope="col">version</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of listArtifacts">
              <td>{{ list.id_Artifact}}</td>
              <td>{{ list.groupId }}</td>
              <td>{{ list.title }} </td>
              <td>{{ list.version }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>