<div class="container col-md-12">
    <h1 style="text-align: center">Choose entity for search</h1>
  <div class="row">
    <div class="col-md-5" style="text-align:right;">
      <button type="button" class="btn btn-secondary" routerLink="/search/plugins">Plugin</button>
    </div>
    <div class="offset-md-2 col-md-5" style="text-align:left;" >
      <button type="button" class="btn btn-secondary" routerLink="/search/artifacts">Artifact</button>
    </div>
</div>  
</div>