<div class="p-3 mb-2 bg-secondary text-white">
  <h1>Delete Plugin</h1>
  <form (ngSubmit)="onSubmit()" #plugins="ngForm">
    <div class="form-group col-md-2">
      <label for="id_Plugin">Id</label>
      <input type="text" [(ngModel)]="plugin.id_Plugin" class="form-control" id="id_Plugin" name="id_Plugin" placeholder="Enter your id plugin" required #id_Plugin="ngModel">
    </div>
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary col-md-6">Submit</button>
    </div>
</form>
</div>