<div class="p-3 mb-2 bg-secondary text-white">
  <h1>Add Artifact</h1>
  <form (ngSubmit)="onSubmit()" #artifacts="ngForm">
    <div class="form-group col-md-2">
      <label for="groupId">groupId</label>
      <input type="text" [(ngModel)]="artifact.groupId" class="form-control" id="groupId" name="groupId" placeholder="Enter your groupId" required #groupId="ngModel">
    </div>
    <div class="form-group col-md-2">
      <label for="artifactId">artifactId</label>
      <input type="text" [(ngModel)]="artifact.title" class="form-control" id="title" name="title" placeholder="Enter your artifactId" required #title="ngModel">
    </div>
    <div class="form-group col-md-2">
      <label for="version">version</label>
      <input type="text" [(ngModel)]="artifact.version" class="form-control" id="version" name="version" placeholder="Enter your version" required #version="ngModel">
    </div>
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary col-md-6">Submit</button>
    </div>
</form>
</div>