<div class="container col-md-12">
  <div class="row" >
    <div class="offset-md-1 col-md-3" style="text-align:right;">
      <button type="button" class="btn btn-secondary" routerLink="/artifacts/add">Add Artifact</button>
    </div>
    <div class="col-md-3" style="text-align:center;" >
      <button type="button" class="btn btn-secondary" routerLink="/artifacts/delete">Delete Artifact</button>
    </div>
    <form (ngSubmit)="onSubmit()" #artifacts="ngForm">
      <div class=" col-md-3" style="text-align:left;" >
        <button type="submit" class="btn btn-outline-danger" onclick="myFunctionExport()">Export database</button>
      </div>
    </form>
  </div>
  <div class="card my-5" id="table">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">groupId</th>
            <th scope="col">title</th>
            <th scope="col">version</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of listArtifacts">
            <td>{{ list.id_Artifact}}</td>
            <td>{{ list.groupId }}</td>
            <td>{{ list.title }} </td>
            <td>{{ list.version }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>