<!-- Footer -->
<footer class="page-footer font-small text-dark pt-4 col-md-12" style="background-color: #eee">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">UFR Science et Techniques - 2 chemin de la Houssinière, 44322, Nantes</h5>
        <p> This project is presented to you by a group of the ALMA master's degree composed of BRAULT Benjamin, GAYRAUD Matthieu, MARÉCHAL Roxane, VIEIRA Apollon. This site is an interface for managing a graph-oriented database.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">
      </div>

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://gitlab.com/LePandaRoox/neo4j">Git project link</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019-2020 Copyright:
    <a href="https://www.LS2N.fr/"> ls2n.fr</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->