<div class="p-3 mb-2 bg-secondary text-white">
  <h1>Add Mapping Plugin</h1>
  <form (ngSubmit)="onSubmitPlug()" #artifacts="ngForm">
    <div class="row col-md-12">
      <div class="form-group col-md-2">
        <label for="artifactId">Plugin Source</label>
        <div>     
          <select class="custom-select mr-sm-2" #mappingArtifact="ngModel" name="plugin"  [(ngModel)]="plugin.title">
            <option *ngFor="let list of listPlugins">{{ list.title }} {{ list.others_prefix}}</option>
          </select> 
        </div>   
      </div>
      <div class="form-group col-md-2">
        <label for="version " style="col-md-auto">Plugin Target</label> 
        <div class="d-flex">    
          <select  class="custom-select mr-sm-2" #mappingArtifact="ngModel" name="pluginmapped" [(ngModel)]="pluginmapped.title">
          <option *ngFor="let list of listPlugins">{{ list.title }} {{list.others_prefix}}</option>
        </select>  
      </div>
      </div>
      <div class="form-group col-md-2 ">
        <div><label for="mdr">&nbsp;</label></div>
        <button type="submit" class="btn btn-primary col-md-6" onclick="myFunctionPlugin()">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="p-3 mb-2 bg-secondary text-white">
<h1>Add Mapping Artifact</h1>
  <form (ngSubmit)="onSubmitArt()" #artifactsa="ngForm">
    <div class="row col-md-12">
     <div class="form-group col-md-2">
        <label for="artifactId">Artifact Source</label>
        <div class="d-flex">
          <select class="custom-select mr-sm-2" #mappingArtifact="ngModel" name="artifact" [(ngModel)]="artifact.title">
            <option *ngFor="let list of listArtifacts">{{ list.title }}</option>
          </select>    
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="version">Artifact Target</label>
        <div>
          <select  class="custom-select mr-sm-2" #mappingArtifact="ngModel" name="artifactmapped" [(ngModel)]="artifactmapped.title">
            <option *ngFor="let list of listArtifacts">{{ list.title }}</option>
          </select>
        </div>  
      </div>
      <div class="form-group col-md-2 ">
        <div><label for="mdr">&nbsp;</label></div>
        <button type="submit" class="btn btn-primary col-md-6" onclick="myFunctionArtifact()">Submit</button>
      </div>
    </div>
  </form>
  </div>
