.container_01 {
    border-radius: 20px;
    background-color: #DCDCDC;
    padding: 0.2% 1% 0.2% 1%;
    margin: 2% 45% 0 5%;
    z-index:1;
}
.bof {
    left:0;
    top:0;
    margin:0;
    padding:0;
    width:100%;
    position:fixed;
    z-index:-1;
}
    