<video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted" id="bof">
    <source src="assets/img/accueil.mp4" type="video/mp4" />
    <source src="binary.webm" type="video/webm" />
    <source src="binary.ogv" type="video/ogg" />
    <object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}" />
    </object>
    <div class="container_01" style="filter:alpha(opacity=50); opacity:0.75;">
        <div class="row">
          <div class="column-66">
            <p>Il y existe deux manières de concevoir un logiciel. La première, c’est de le faire si simple qu’il est évident qu’il ne présente aucun problème.<br> La seconde, c’est de le faire si compliqué qu’il ne présente aucun problème évident. La première méthode est de loin la plus complexe. <br> C.A.R. Hoare
            </p>
          </div>
        </div>
      </div>
</video>
