<div class="container col-md-12">
  <div class="row" >
    <div class="offset-md-1 col-md-3" style="text-align: right;">
      <button type="button" class="btn btn-secondary" routerLink="/plugins/add">Add Plugin</button>
    </div>
    <div class="col-md-3"  style="text-align:center;">
      <button type="button" class="btn btn-secondary" routerLink="/plugins/delete">Delete Plugin</button>
    </div>
    <form (ngSubmit)="onSubmit()" #plugins="ngForm">
      <div class=" col-md-3" style="text-align:left;" >
        <button type="submit" class="btn btn-outline-danger" onclick="myFunctionExport()">Export database</button>
      </div>
    </form>
  </div>
  <div class="card my-5" id="table">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id_Plugin</th>
            <th scope="col">root</th>
            <th scope="col">organization</th>
            <th scope="col">title</th>
            <th scope="col">others_prefix</th>
            <th scope="col">version</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of listPlugins">
            <td>{{ list.id_Plugin }}</td>
            <td>{{ list.root }}</td>
            <td>{{ list.organisation }}</td>
            <td>{{ list.title }}</td>
            <td>{{ list.others_prefix }}</td>
            <td>{{ list.version }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>